.form {
  font-size: 13px;
  list-style: none;
  margin-bottom: 20px;
  margin-top: 10px;
  /* Tootltip para formulario con validaciones HTML5 */
}
.form[data-active] ul {
  opacity: 0 !important;
}
.form fieldset {
  overflow: hidden;
}
.form label {
  color: #000;
}
.form h4 {
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}
.form h4 i {
  margin-right: 10px;
  transform: rotate(0);
  transition: ease 500ms transform;
}
.form ul {
  list-style: none outside;
  opacity: 1;
  padding: 20px 0;
  margin: 0 auto;
  transition: opacity, margin 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.form ul li {
  padding-bottom: 10px;
  padding-right: 5px;
}
.form ul li input[type="file"] {
  width: 130px;
  font-size: 0.8em;
}
.form ul li label,
.form ul li output {
  display: inline-block;
  height: 100%;
  margin-top: 8px;
  text-align: right;
  vertical-align: top;
  width: 45% !important;
}
.form ul li output {
  text-align: left;
}
.form ul li input:not([type="checkbox"]):not([type="radio"]):focus,
.form ul li textarea:focus,
.form ul li select:focus {
  border-radius: 2px;
  width: 230px;
}
.form ul li input[type="checkbox"],
.form ul li input[type="radio"] {
  margin-top: 10px;
}
.form select,
.form textarea,
.form input:not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
  background-repeat: no-repeat;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  height: 32px;
  max-height: 32px;
  max-width: 230px;
  padding: 5px 5px 5px 25px;
  transition: width, border .25s;
  width: 200px;
}
.form input:required:valid + .tooltipForm,
.form select:required:valid + .tooltipForm,
.form textarea:required:valid + .tooltipForm,
.form input:valid + .tooltipForm,
.form textarea:valid + .tooltipForm,
.form select:valid + .tooltipForm {
  background-color: #28921f;
}
.form input:required:valid + .tooltipForm::before,
.form select:required:valid + .tooltipForm::before,
.form textarea:required:valid + .tooltipForm::before,
.form input:valid + .tooltipForm::before,
.form textarea:valid + .tooltipForm::before,
.form select:valid + .tooltipForm::before {
  color: #28921f;
}
.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #000;
}
.form select {
  padding-left: 20px;
}
.form .tooltipForm {
  background: #d45252;
  border-radius: 3px;
  color: #fff;
  display: none;
  margin-left: 8px;
  padding: 4px 6px;
  white-space: nowrap;
  z-index: 2;
}
.form .tooltipForm::before {
  content: "\25C0";
  color: #d45252;
  position: absolute;
  left: -6px;
  top: 1px;
}
.form.active input:focus + .tooltipForm,
.form.active select:focus + .tooltipForm,
.form.active textarea:focus + .tooltipForm {
  display: inline-block;
}
.form.active.validated input:required:invalid,
.form.active.validated textarea:required:invalid,
.form.active.validated select:required:invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}
.form.active.validated input:required:invalid + .tooltipForm,
.form.active.validated select:required:invalid + .tooltipForm,
.form.active.validated textarea:required:invalid + .tooltipForm {
  display: inline-block;
}
.form.active h4 i {
  cursor: normal;
  transform: rotate(90deg);
}
.form.active fieldset {
  overflow: visible;
}
.form.leftIcon ul li label {
  display: inline;
  font-size: 16px;
  vertical-align: middle;
}
.form.lineal {
  width: 600px !important;
}
.form.lineal ul {
  display: flex;
}
.form.lineal ul li {
  align-items: center;
  display: flex;
  padding: 5px;
}
.form input:required,
.form textarea:required,
.form select:required {
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: #fff;
}
.form input:required:valid,
.form textarea:required:valid,
.form select:required:valid {
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}
.form input:required:focus:invalid,
.form textarea:required:focus:invalid,
.form select:required:focus:invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}
.form.one {
  background-color: #f0f4f4;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
.form.one h4 {
  background-image: linear-gradient(to top, #e8e8e8, #fff);
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  color: #7a7a7a;
  cursor: pointer;
  font-weight: bold;
  height: 38px;
  padding: 9px 10px;
  text-align: left;
}
.form.one h4:hover {
  background-image: linear-gradient(to bottom, #f5f6f6 0%, #e3e4ea 50%, #f5f6f6 100%);
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  color: #7a7a7a;
  cursor: pointer;
  font-weight: bold;
  height: 38px;
  padding: 9px 10px;
  text-align: left;
}
.form.one.active {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.24) !important;
  overflow: visible;
}
.form.one.active .tooltipForm,
.form.one.active input:focus + .tooltipForm,
.form.one.active select:focus + .tooltipForm,
.form.one.active textarea:focus + .tooltipForm {
  position: absolute;
}
.form.one.active:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}
.form.two {
  background-image: linear-gradient(to top, #fefefe, #f8f8f9);
  border: 1px solid #c3c8cd;
  border-radius: 8px;
  box-shadow: 0 4px 0 #58595b !important;
}
.form.two > header h4 {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  color: #293342;
  font-weight: bold;
  height: 38px;
  padding: 9px 10px;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(79, 85, 97, 0);
}
.form.two > header h4 span {
  align-items: center;
  display: inline-flex;
  float: right;
  font-weight: normal;
  height: 100%;
}
.form.two li {
  padding-right: 0;
}
.form.two li input[type="checkbox"] {
  margin-top: 8px;
}
.form.two .tooltipForm {
  left: 50%;
  margin-left: 0;
  margin-right: 8px;
  margin-top: 11px;
  position: relative;
  width: 49%;
  white-space: normal;
}
.form.two .tooltipForm::before {
  content: "\25C0";
  color: #d45252;
  position: absolute;
  left: 9px;
  top: -12px;
  transform: rotateZ(90deg);
}
input:not([type="button"]):disabled,
select:disabled,
textarea:disabled {
  background-color: #ececec !important;
  border: solid 1px #7f9dB9;
  color: #ccc;
  cursor: default;
}
input:not([type="button"]):disabled[data-no-disabled="active"],
select:disabled[data-no-disabled="active"],
textarea:disabled[data-no-disabled="active"] {
  color: #000;
}
a.button,
button.button {
  background-color: #3d4042;
  nackground-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
  border-radius: .25rem;
  border: 0;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  margin-top: 10px;
  overflow: hidden;
  padding: 8px 15px;
  position: relative;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  text-decoration: none;
  transition: ease 500ms transform;
  width: auto;
}
a.button:focus,
button.button:focus,
a.button:hover,
button.button:hover,
a.button:active,
button.button:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
}
a.button.normal,
button.button.normal {
  float: none;
  margin-bottom: 10px;
}
a.button:focus,
button.button:focus {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
}
a.button .circle,
button.button .circle {
  display: block;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
}
a.button .circle.animate,
button.button .circle.animate {
  animation: effect 0.65s ease;
}
a.button i,
button.button i,
a.button span,
button.button span {
  display: inline-block;
  left: 0;
  margin-right: 5px;
  position: relative;
  top: 0;
  vertical-align: middle;
}
a.button i[class*="spin"],
button.button i[class*="spin"] {
  display: none;
}
a.button::after,
button.button::after {
  content: attr(data-text);
  display: inline-block;
  vertical-align: middle;
}
a.button.disabled,
button.button.disabled {
  background-color: #ddd;
  color: #3d4042;
  cursor: default;
  padding-right: 0;
  text-shadow: none;
}
a.button.disabled i[class*="floppy"],
button.button.disabled i[class*="floppy"] {
  display: none;
}
a.button.disabled i[class*="spin"],
button.button.disabled i[class*="spin"] {
  display: inline-block;
  font-size: 28px;
}
a.button2,
button.button2 {
  background-color: #ebebeb;
  border: 1px solid #adadad;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  margin: 8px 0;
  padding: 6px 12px;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}
a.button2.block,
button.button2.block {
  display: block;
}
a.button2:hover,
button.button2:hover,
a.button2:focus,
button.button2:focus,
a.button2:active,
button.button2:active {
  background-color: #fff;
  border-color: #ccc;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 10px;
  padding: 0 15px 10px;
  text-align: center;
  width: 600px;
}
@keyframes effect {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@media screen and (max-width: 1429px) {
  .form {
    width: 600px;
  }
}
@media screen and (max-width: 1040px) and (min-width: 580px) {
  .form {
    width: 600px;
  }
}
@media screen and (max-width: 767px) {
  .form {
    width: 100%;
  }
  .buttons {
    width: 100%;
  }
}
@media screen and (max-width: 500px) and (min-width: 0) {
  .form {
    width: 100%;
  }
  .form ul {
    padding: 0 10px;
  }
  .form ul li {
    padding-bottom: 5px;
  }
  .form ul li label {
    display: block;
    text-align: left;
  }
  .form input:not([type="checkbox"]):not([type="radio"]),
  .form textarea,
  .form select {
    max-width: none !important;
    width: 100% !important;
  }
  .form input[type="checkbox"],
  .form input[type="radio"] {
    margin-top: 5px !important;
  }
}

/*# sourceMappingURL=../maps/controls/jforms.css.map */
